@media  screen and (min-width:1300px) and (max-width:1441px) {
    body{
        background-color: lightgrey;
        position: relative;
        height: 3440px;
    }
    
    /* about */
    #about{
        position: absolute;
        z-index: 2;
        top: 0%;
        left: 0;
        margin: 220px 0px 40px 55px;
        font-family: 'Press Start 2P';
        color: white;
        text-shadow: 1px 1px 3px black;
        -webkit-text-stroke: 0.4567px rgb(75, 28, 28);
        
    }
    /* screen 2 */
    .overlaytags{
        position: absolute;
        z-index: 101;
        top: 29.5%;
        left: 40%;
        color: white;
        font-size: 40px;
        -webkit-text-stroke: 1.2px black;
        text-shadow: 2px 2px 7px black;
        font-family: 'Press start 2p';
    }

    #screen{
        position: absolute;
        top: 28.8%;
        left: 38%;
        width: 36.5%;
        height: 12.7%;
        border-radius: 20px;
    }

    /* screen 3 */

    #pdivs{
        position: absolute;
        display: flex;
        width: 35%;
        justify-content: space-between;
        top: 58%;
        left: 11%;
        font-size: 50px;
        font-family: 'press start 2p';
        color: #BC13FE;
        -webkit-text-stroke: 2px black;
        text-shadow: 7px 5px 2px black;
    }
    #buttondiv{
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 70%;
        left: 12.5%;
        width: 34%;
    }
    #buttondiv button{
        width: 80px;
        height: 70px;
        border: 1px solid black;
        background-color: transparent;
        color: white;
        font-family: 'press start 2p';
        font-size: 20px;
        text-shadow: 3px 3px 6px black;
    }
    #buttondiv button:hover{
        width: 80px;
        height: 70px;
        background-color:#720d75 ;
        color:white;
        font-family: 'press start 2p';
        font-size: 20px;
        text-shadow: 1px 1px 3px black;
    }
    
    /* screen 4 */
    #contactinfos{
        position: absolute;
        top: 82%;
        left: 17%;
        color: transparent;
        -webkit-text-stroke:2px white;
        text-shadow: 2px 2px 6px rgb(230, 73, 0);
        font-size: 46px;
    }
    #email{
        position: absolute ;
        top: 93%;
        left: 20%;
        z-index: 100;
        font-size: 40px;
        width: 50%;
        color: white;
        text-shadow: 2px 2px 3px white;
        font-family: 'press start 2p';
    }
    
    #email a{
        width: 50%;
        text-decoration: none;
        font-size: 24px;
        color: white;
    }
}

/* 1200 to 1300 */
@media  screen and (min-width:1200px) and (max-width:1301px) {
    body{
        background-color: lightgrey;
        position: relative;
        height: 3440px;
    }
    
    #nav2 ul{
        display: flex;
        width: 40vw;
        justify-content: space-between;
        
    }
    
    /* about */
    #about{
        position: absolute;
        z-index: 2;
        top: 0%;
        left: 0;
        margin: 260px 0px 40px 55px;
        font-family: 'Press Start 2P';
        color: white;
        text-shadow: 1px 1px 3px black;
        -webkit-text-stroke: 0.4567px rgb(75, 28, 28);
        
    }
    /* screen 2 */
    .overlaytags{
        position: absolute;
        z-index: 101;
        top: 30%;
        left: 40%;
        color: white;
        font-size: 40px;
        -webkit-text-stroke: 1.2px black;
        text-shadow: 2px 2px 7px black;
        font-family: 'Press start 2p';
    }
    .overlaytags p{
        width: 50%;
        color: white;
        text-wrap: wrap;
        font-size: 20px;
        -webkit-text-stroke: 1px black;
        text-shadow: 2px 2px 4px black;
        font-family: 'Press start 2p';
    }
    

    #screen{
        position: absolute;
        top: 28.8%;
        left: 38%;
        width: 36.5%;
        height: 12.7%;
        border-radius: 20px;
    }

    /* screen 3 */

    #pdivs{
        position: absolute;
        display: flex;
        width: 37%;
        justify-content: space-between;
        top: 58.3%;
        left: 10%;
        font-size: 50px;
        font-family: 'press start 2p';
        color: #BC13FE;
        -webkit-text-stroke: 2px black;
        text-shadow: 7px 5px 2px black;
    }
    #buttondiv{
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 70%;
        left: 12.5%;
        width: 34%;
    }
    #buttondiv button{
        width: 68px;
        height: 70px;
        border: 1px solid black;
        background-color: transparent;
        color: white;
        font-family: 'press start 2p';
        font-size: 20px;
        text-shadow: 3px 3px 6px black;
    }
    #buttondiv button:hover{
        width: 68px;
        height: 70px;
        background-color:#720d75 ;
        color:white;
        font-family: 'press start 2p';
        font-size: 20px;
        text-shadow: 1px 1px 3px black;
    }
    
    /* screen 4 */
    #contactinfos{
        position: absolute;
        top: 83%;
        left: 16%;
        color: transparent;
        -webkit-text-stroke:2px white;
        text-shadow: 2px 2px 6px rgb(230, 73, 0);
        font-size: 43px;
    }
    #email{
        position: absolute ;
        top: 94%;
        left: 20%;
        z-index: 100;
        font-size: 40px;
        width: 50%;
        color: white;
        text-shadow: 2px 2px 3px white;
        font-family: 'press start 2p';
    }
    
    #email a{
        width: 50%;
        text-decoration: none;
        font-size: 24px;
        color: white;
    }
}

/* 1100 to 1199 */
@media  screen and (min-width:1100px) and (max-width:1199px) {
    
    #nav2 ul{
        display: flex;
        width: 40vw;
        justify-content: space-between;
        
    }
    
    body{
        background-color: lightgrey;
        position: relative;
        height: 3440px;
    }
    
    /* about */
    #about{
        position: absolute;
        z-index: 2;
        top: 0%;
        left: 0;
        margin: 260px 0px 40px 55px;
        font-family: 'Press Start 2P';
        color: white;
        text-shadow: 1px 1px 3px black;
        -webkit-text-stroke: 0.4567px rgb(75, 28, 28);
        
    }
    /* screen 2 */
    .overlaytags{
        position: absolute;
        z-index: 101;
        top: 30%;
        left: 40%;
        color: white;
        font-size: 40px;
        -webkit-text-stroke: 1.2px black;
        text-shadow: 2px 2px 7px black;
        font-family: 'Press start 2p';
    }
    .overlaytags p{
        width: 50%;
        color: white;
        text-wrap: wrap;
        font-size: 20px;
        -webkit-text-stroke: 1px black;
        text-shadow: 2px 2px 4px black;
        font-family: 'Press start 2p';
    }
    

    #screen{
        position: absolute;
        top: 28.8%;
        left: 38%;
        width: 36.5%;
        height: 12.7%;
        border-radius: 20px;
    }

    /* screen 3 */

    #pdivs{
        position: absolute;
        display: flex;
        width: 37%;
        justify-content: space-between;
        top: 58.3%;
        left: 10%;
        font-size: 50px;
        font-family: 'press start 2p';
        color: #BC13FE;
        -webkit-text-stroke: 2px black;
        text-shadow: 7px 5px 2px black;
    }
    #buttondiv{
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 70%;
        left: 12.5%;
        width: 34%;
    }
    #buttondiv button{
        width: 61px;
        height: 70px;
        border: 1px solid black;
        background-color: transparent;
        color: white;
        font-family: 'press start 2p';
        font-size: 20px;
        text-shadow: 3px 3px 6px black;
    }
    #buttondiv button:hover{
        width: 61px;
        height: 70px;
        background-color:#720d75 ;
        color:white;
        font-family: 'press start 2p';
        font-size: 20px;
        text-shadow: 1px 1px 3px black;
    }
    
    /* screen 4 */
    #contactinfos{
        position: absolute;
        top: 83%;
        left: 15%;
        color: transparent;
        -webkit-text-stroke:2px white;
        text-shadow: 2px 2px 6px rgb(230, 73, 0);
        font-size: 40px;
    }
    #email{
        position: absolute ;
        top: 94%;
        left: 20%;
        z-index: 100;
        font-size: 35px;
        width: 50%;
        color: white;
        text-shadow: 2px 2px 3px white;
        font-family: 'press start 2p';
    }
    
    #email a{
        width: 50%;
        text-decoration: none;
        font-size: 20px;
        color: white;
    }
}

/* 1000 to 1099 */
@media  screen and (min-width:1000px) and (max-width:1099px) {
    
#headingtitle{
    font-size: 40px;
}

#paratitle{
    font-size: 18px;
}

/* button in my info and its hover*/
#btnheading{
    font-size: 17px;
    border: 2px  solid white;
    color: white;
    font-family: 'press Start 2p';
    background-color: transparent;
    padding: 18px;
    text-shadow: 3px 3px 10px black;
}

#btnheading:hover{
    font-size: 17px;
    border: 2px  solid black;
    color: black;
    font-family: 'press Start 2p';
    background-color: white;
    padding: 18px;
    text-shadow: 3px 3px 10px black;
    transition: 0.6s;
    cursor: pointer;
}

    
    #nav2 ul{
        display: flex;
        width: 40vw;
        justify-content: space-between;
        
    }
    
    body{
        background-color: lightgrey;
        position: relative;
        height: 3440px;
    }
    
    /* about */
    #about{
        position: absolute;
        z-index: 2;
        top: 0%;
        left: 0;
        margin: 260px 0px 40px 55px;
        font-family: 'Press Start 2P';
        color: white;
        text-shadow: 1px 1px 3px black;
        -webkit-text-stroke: 0.4567px rgb(75, 28, 28);
        
    }
    /* screen 2 */
    .overlaytags{
        position: absolute;
        z-index: 101;
        top: 30%;
        left: 40%;
        color: white;
        font-size: 35px;
        -webkit-text-stroke: 1.2px black;
        text-shadow: 2px 2px 7px black;
        font-family: 'Press start 2p';
    }
    .overlaytags p{
        width: 50%;
        color: white;
        text-wrap: wrap;
        font-size: 18px;
        -webkit-text-stroke: 1px black;
        text-shadow: 2px 2px 4px black;
        font-family: 'Press start 2p';
    }
    

    #screen{
        position: absolute;
        top: 28.8%;
        left: 38%;
        width: 36.5%;
        height: 12.7%;
        border-radius: 20px;
    }

    /* screen 3 */

    #pdivs{
        position: absolute;
        display: flex;
        width: 39%;
        justify-content: space-between;
        top: 58.3%;
        left: 9%;
        font-size: 40px;
        font-family: 'press start 2p';
        color: #BC13FE;
        -webkit-text-stroke: 2px black;
        text-shadow: 7px 5px 2px black;
    }
    #buttondiv{
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 70%;
        left: 12.5%;
        width: 34%;
    }
    #buttondiv button{
        width: 51px;
        height: 70px;
        border: 1px solid black;
        background-color: transparent;
        color: white;
        font-family: 'press start 2p';
        font-size: 20px;
        text-shadow: 3px 3px 6px black;
    }
    #buttondiv button:hover{
        width: 51px;
        height: 70px;
        background-color:#720d75 ;
        color:white;
        font-family: 'press start 2p';
        font-size: 20px;
        text-shadow: 1px 1px 3px black;
    }
    
    /* screen 4 */
    #contactinfos{
        position: absolute;
        top: 83%;
        left: 15%;
        color: transparent;
        -webkit-text-stroke:2px white;
        text-shadow: 2px 2px 6px rgb(230, 73, 0);
        font-size: 35px;
    }
    #email{
        position: absolute ;
        top: 94%;
        left: 20%;
        z-index: 100;
        font-size: 30px;
        width: 50%;
        color: white;
        text-shadow: 2px 2px 3px white;
        font-family: 'press start 2p';
    }
    
    #email a{
        width: 50%;
        text-decoration: none;
        font-size: 17px;
        color: white;
    }
}


/* 1100 to 1199 */
@media  screen and (min-width:1442px) and (max-width:1630px) {
    
    #headingtitle{
        font-size: 40px;
    }
    
    #paratitle{
        font-size: 25px;
    }
    
    /* button in my info and its hover*/
    #btnheading{
        font-size: 17px;
        border: 2px  solid white;
        color: white;
        font-family: 'press Start 2p';
        background-color: transparent;
        padding: 18px;
        text-shadow: 3px 3px 10px black;
    }
    
    #btnheading:hover{
        font-size: 17px;
        border: 2px  solid black;
        color: black;
        font-family: 'press Start 2p';
        background-color: white;
        padding: 18px;
        text-shadow: 3px 3px 10px black;
        transition: 0.6s;
        cursor: pointer;
    }
    
        
        #nav2 ul{
            display: flex;
            width: 30vw;
            justify-content: space-between;
            
        }
        
        body{
            background-color: lightgrey;
            position: relative;
            height: 3440px;
        }
        
        /* about */
        #about{
            position: absolute;
            z-index: 2;
            top: 0%;
            left: 0;
            margin: 260px 0px 40px 55px;
            font-family: 'Press Start 2P';
            color: white;
            text-shadow: 1px 1px 3px black;
            -webkit-text-stroke: 0.4567px rgb(75, 28, 28);
            
        }
        /* screen 2 */
        .overlaytags{
            position: absolute;
            z-index: 101;
            top: 30%;
            left: 40%;
            color: white;
            font-size: 45px;
            -webkit-text-stroke: 1.2px black;
            text-shadow: 2px 2px 7px black;
            font-family: 'Press start 2p';
        }
        .overlaytags p{
            width: 50%;
            color: white;
            text-wrap: wrap;
            font-size: 22px;
            -webkit-text-stroke: 1px black;
            text-shadow: 2px 2px 4px black;
            font-family: 'Press start 2p';
        }
        
    
        #screen{
            position: absolute;
            top: 28.8%;
            left: 38%;
            width: 36.5%;
            height: 12.7%;
            border-radius: 20px;
        }
    
        /* screen 3 */
    
        #pdivs{
            position: absolute;
            display: flex;
            width: 39%;
            justify-content: space-between;
            top: 58.3%;
            left: 9%;
            font-size: 40px;
            font-family: 'press start 2p';
            color: #BC13FE;
            -webkit-text-stroke: 2px black;
            text-shadow: 7px 5px 2px black;
        }
        #buttondiv{
            position: absolute;
            display: flex;
            justify-content: space-between;
            top: 70%;
            left: 12.5%;
            width: 34%;
        }
        #buttondiv button{
            width: 81px;
            height: 70px;
            border: 1px solid black;
            background-color: transparent;
            color: white;
            font-family: 'press start 2p';
            font-size: 20px;
            text-shadow: 3px 3px 6px black;
        }
        #buttondiv button:hover{
            width: 81px;
            height: 70px;
            background-color:#720d75 ;
            color:white;
            font-family: 'press start 2p';
            font-size: 20px;
            text-shadow: 1px 1px 3px black;
        }
        
        /* screen 4 */
        #contactinfos{
            position: absolute;
            top: 82.5%;
            left: 16%;
            color: transparent;
            -webkit-text-stroke:2px white;
            text-shadow: 2px 2px 6px rgb(230, 73, 0);
            font-size: 52px;
        }
        #email{
            position: absolute ;
            top: 93.5%;
            left: 20%;
            z-index: 100;
            font-size: 40px;
            width: 50%;
            color: white;
            text-shadow: 2px 2px 3px white;
            font-family: 'press start 2p';
        }
        
        #email a{
            width: 50%;
            text-decoration: none;
            font-size: 28px;
            color: white;
        }
}


/* height media query */
@media screen and (min-height:850px) and (max-height:860px) {
    body{
        background-color: lightgrey;
        height: 3380px;
    }
    
}@media screen and (min-height:840px) and (max-height:850px) {
    body{
        background-color: lightgrey;
        height: 3340px;
    }
    
}@media screen and (min-height:820px) and (max-height:840px) {
    body{
        background-color: lightgrey;
        height: 3300px;
    }
    
}@media screen and (min-height:810px) and (max-height:820px) {
    body{
        background-color: lightgrey;
        height: 3260px;
    }
    
}@media screen and (min-height:800px) and (max-height:810px) {
    body{
        background-color: lightgrey;
        height: 3220px;
    }
    
}
@media screen and (min-height:790px) and (max-height:800px) {
    body{
        background-color: lightgrey;
        height: 3180px;
    }
    
}

@media screen and (min-height:780px) and (max-height:790px) {
    body{
        background-color: lightgrey;
        height: 3140px;
    }
    
}
@media screen and (min-height:770px) and (max-height:780px) {
    body{
        background-color: lightgrey;
        height: 3100px;
    }
    
}
@media screen and (min-height:760px) and (max-height:770px) {
    body{
        background-color: lightgrey;
        height: 3060px;
    }
    
}
@media screen and (min-height:750px) and (max-height:760px) {
    body{
        background-color: lightgrey;
        height: 3020px;
    }
    
}
@media screen and (min-height:740px) and (max-height:750px) {
    body{
        background-color: lightgrey;
        height: 2980px;
    }
    
}
@media screen and (min-height:730px) and (max-height:740px) {
    body{
        background-color: lightgrey;
        height: 2940px;
    }
    
}

@media screen and (min-height:720px) and (max-height:730px) {
    body{
        background-color: lightgrey;
        height: 2900px;
    }
    
}
@media screen and (min-height:710px) and (max-height:720px) {
    body{
        background-color: lightgrey;
        height: 2860px;
    }
    
}
@media screen and (min-height:700px) and (max-height:710px) {
    body{
        background-color: lightgrey;
        height: 2820px;
    }
    
}
@media screen and (min-height:690px) and (max-height:700px) {
    body{
        background-color: lightgrey;
        height: 2780px;
    }
    
}
@media screen and (min-height:680px) and (max-height:690px) {
    body{
        background-color: lightgrey;
        height: 2740px;
    }
    
}
@media screen and (min-height:670px) and (max-height:680px) {
    body{
        background-color: lightgrey;
        height: 2700px;
    }
    
}

@media screen and (min-height:660px) and (max-height:670px) {
    body{
        background-color: lightgrey;
        height: 2660px;
    }
    
}

@media screen and (min-height:650px) and (max-height:660px) {
    body{
        background-color: lightgrey;
        height: 2620px;
    }
    
}
@media screen and (min-height:640px) and (max-height:650px) {
    body{
        background-color: lightgrey;
        height: 2580px;
    }
    
}
@media screen and (min-height:630px) and (max-height:640px) {
    body{
        background-color: lightgrey;
        height: 2540px;
    }
    
}
@media screen and (min-height:620px) and (max-height:630px) {
    body{
        background-color: lightgrey;
        height: 2500px;
    }
    
}

@media screen and (min-height:610px) and (max-height:620px) {
    body{
        background-color: lightgrey;
        height: 2460px;
    }
    
}

@media screen and (min-height:600px) and (max-height:610px) {
    body{
        background-color: lightgrey;
        height: 2420px;
    }
    
}
